* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #24A4EC;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
